.item {  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #2D2D2D;
  border-radius: 10px;
  min-height: 10vw;
}

.img{
  width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  position: absolute;
  bottom: 8px;
  width: 94%;
  font-size: 14px;
}

.wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author {
  display: block;
}

.date {
  flex-grow: 1;
}

.like {
  display: flex;
  align-items: center;
}

.like__button {  
  position: relative;
  background-color: transparent;
  border: none;
  line-height: 0;
  color: #fff;
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 24px;  
  padding: 0;
}

.like__button_active {
  background-color: transparent;
  border: none;  
  color: red;
  width: 30px;
  height: 30px;
  font-size: 24px;  
  padding: 0;
  cursor: pointer;
}

.like__button_active svg {
  fill: red;
}

@media (max-width: 860px) {
  .item {
    /* width: 49%; */
  }
}

@media (max-width: 480px) {
  .item {
    /* width: 100%; */
  }
}

.infoblock {
  position: absolute;
  display: block;
  padding: 10px;
  border: 1px solid #edcd51;
  background-color: #2D2D2D;
  top: 0;
  color: #edcd51;
  font-size: 12px;
  top: -120%;
  right: 50%;
  transform: translateX(50%);
  height: 15px;
  border-radius: 10px;;
}

.info1 {
  display: block;
  height: 15px;
}