.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.content {
  text-align: center;  
  font-size: 30px;
  line-height: 2;
  font-weight: 700;
}

.content:not(:last-child) {
  margin-top: 100px;
}

